.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #DDD8C4;
}

.result-row {
  display: flex;
  flex-wrap: wrap;
}

.result {
  flex-basis: calc(10% - 20px);
  border-radius: 15px;
  color: black;
  font-family: sans-serif;
  font-size: 0.8em;
}
